body {
    display:  flex;
    flex-direction: column;
    align-items: center;
    min-width: 800px;

}

main {
    width: 800px;
    margin: 0 auto;
}

main img {
    width: 200px;
}

aside {
    width: 250px;
    margin: 20px;
    border: 1px solid #333;
    padding: 15px;
    background-color: #f0f0f0;
    color: #333;
    position: relative;
    left: -260px
    
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    width: 75%;
    margin-top: 30px;
    border-top: 1px solid #333;
    text-align: center;
}
